<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List All Products</title>
</head>
<body>

<article>
    <% products.forEach((data) => { %>

        <img src="<%= data.url %>" alt="" height="200px" width="200px">

        <h1>Name : <%= data.Pname %></h1>
        <h4>Price : <%= data.Pprice %></h4>

        <section>
            <button><a href="/products/<%= data.Pid %>">Show</a></button>
            <button><a href="/products/<%= data.Pid %>/edit">Edit</a></button>
            <button><a href="/products/<%= data.Pid %>/delete">Delete</a></button>
        </section>

        <hr>

    <% }) %>
</article>

</body>
</html>